%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-arrow-down:before {
  content: "\e901";
}
._icon-arrow-link:before {
  content: "\e902";
}
._icon-cart:before {
  content: "\e903";
}
._icon-favorite:before {
  content: "\e904";
}
._icon-location:before {
  content: "\e905";
}
._icon-phone:before {
  content: "\e906";
}
._icon-search:before {
  content: "\e907";
}
._icon-send:before {
  content: "\e908";
}
._icon-share:before {
  content: "\e909";
}
